/* Footer main container */
.footer-main {
    /* Add your styles here */
    /* border: 2px solid red; */
    position: absolute;
    width: 100%;
    /* bottom: 0px; */
    margin-bottom:0px ;
}

/* Footer header */
.footer-header {
    background-color: #03346E;
    color: white;
}

/* Footer card body */
.footer-cart-boy {
    background-color: #6EACDA;
    color: white;
}

/* Footer button */
.footer-btn {
    background-color: #03346E;
    color: white;
    border: 2px soild #03346E;
    border-radius: 10px;
    width: 150px;
    padding: 5px 20px;
}